# Baruch AIS: Workshop Series

### Lesson 1: Introduction  (1.5hr)   12:30 PM - 2PM

##### 1. Jupyter Online / Google Colab (10-15 min)
##### 2. Yahoo Finance (5 min)
##### 3. Importing Libraries (5-10 min)

In [32]:
import pandas as pd     #everything else
import numpy as np        #calculations
import matplotlib.pyplot as plt    # data visualization
from matplotlib import style
import pandas_datareader as pdr       #pandas datareader to get stock data
from scipy import stats    # statistics
sns.set_style('whitegrid')
import seaborn as sns     #data visualization
import datetime

%matplotlib inline

In [42]:
#Make it interactive for user

symbolA= input("Enter Symbol of Stock 1: ")
symbolB= input("Enter Symobl of Stock 2: ")

#User enters the start date of stock analysis
date_entry = input('Enter a start date in YYYY-MM-DD format: ')
year, month, day = map(int, date_entry.split('-'))
start = datetime.date(year, month, day)

# User enters the end date of stock analysis
date_entry = input('Enter an end date in YYYY-MM-DD format: ')
year, month, day = map(int, date_entry.split('-'))
end = datetime.date(year, month, day)

Enter Symbol of Stock 1: TSLA
Enter Symobl of Stock 2: AAPL
Enter a start date in YYYY-MM-DD format: 2019-12-12
Enter an end date in YYYY-MM-DD format: 2020-12-12

In [51]:
## Import data from Yahoo

TSLA= pdr.DataReader(symbolA, 'yahoo', start, end)
AAPL= pdr.DataReader(symbolB, 'yahoo', start, end)

In [58]:
## Explore stocks

TSLA.head(10)   #first ten rows

TSLA.tail(10)    #last ten rows

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2020-11-30,607.799988,554.510010,602.210022,567.599976,63003100.0,567.599976
2020-12-01,597.849976,572.049988,597.590027,584.760010,40382800.0,584.760010
2020-12-02,571.539978,541.210022,556.440002,568.820007,47775700.0,568.820007
2020-12-03,598.969971,582.429993,590.020020,593.380005,42552000.0,593.380005
2020-12-04,599.039978,585.500000,591.010010,599.039978,29401300.0,599.039978
2020-12-07,648.789978,603.049988,604.919983,641.760010,56309700.0,641.760010
2020-12-08,651.280029,618.500000,625.510010,649.880005,64265000.0,649.880005
2020-12-09,654.320007,588.000000,653.690002,604.479980,71291200.0,604.479980
2020-12-10,627.750000,566.340027,574.369995,627.070007,67083200.0,627.070007
2020-12-11,624.000000,596.799988,615.010010,609.989990,46475000.0,609.989990

In [53]:
## only keep columns that you want to analyze

TSLA_= TSLA[["Adj Close"]]

In [56]:
# are there missing values?

TSLA_.isnull().sum()

Adj Close    0
dtype: int64

In [65]:
## Identify index and columns + rename a column

TSLA_.index
TSLA_.columns

#TSLA_.rename(columns = {"Adj Close": "Adj_Close"}, inplace= True)

Index(['Adj_Close'], dtype='object')

In [61]:
TSLA_.head()

            Adj_Close
Date
2019-12-12  71.935997
2019-12-13  71.678001
2019-12-16  76.300003
2019-12-17  75.797997
2019-12-18  78.629997

In [70]:
# Find the highest,lowest and mean value in Adj_Close

TSLA_.Adj_Close.max()

TSLA_.Adj_Close.min()

TSLA_.Adj_Close.mean()

260.2310665567873

#### First workshop is OVER!

In [ ]:
###